[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invenio-i18n = "*"
invenio-assets = "*"
invenio-app-rdm = ">=12.0.0,<13.0.0"

[dev-packages]
djlint = "*"
build = "*"
twine = "*"

[requires]
python_version = ">=3.9"
